.Asset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  color: orangered;
}

.Asset img {
  max-width: 100%;
  height:auto;
  max-height: 200px;
  border-radius: 50px;
  color: orangered;
}
