

.FormControl {
  border: 1px solid orangered;
  max-width: 100%;
  margin: 0 10px;
  box-shadow: 0 0 5px orangered;
}
.FormControl:focus {
  box-shadow: 0 0 15px orangered;
  color: black;
}
.Button {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 100px;
  min-width: 75px;
  margin: auto;
  margin-bottom: 1.5rem;
}

.Button:hover {
  cursor: pointer;
  background-color: aliceblue;
  color: #242a3d;
}
