.NavBar {
  border: 1px solid orangered;
  background-color: black;
  box-shadow: 0 0 15px orangered;
}

.Active i {
  color: orangered;
}

.NavBarLogo {
  border-radius: 20px;
  box-shadow: 0 0 4px white;
  border: 1px solid white;
  padding: 2px 2px;
  transition: box-shadow 0.5s;
}

.NavBarLogo:hover {
  box-shadow: 0 0 10px orangered;
  transition: box-shadow 0.5s;
  border: 1px solid orangered;
}

.NavToggle {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 40px;
  font-size: 0.6rem;
}

.NavToggle:focus {
  background-color: white;
  border: 1px solid orangered;
}
