/*card content wrapper */
.card {
  color: black;
  margin: 10px;
  padding:5px;
  box-shadow: 0 0 10px orangered;
  background-color: lightblue;
  height: auto;
}

.cardTitle {
  color: orangered;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.profileLink {
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 0 5px orangered;
}

.cardContent {
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
}


.EditMenu i{
  color: black;
  font-size: 20px;
  margin: 10px;
}

.EditMenu i:hover {
  color: orangered;
  box-shadow: 0 0 10px orangered;
  border-radius: 50%;
}
/* image column */
.cardImgContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-top: 10%;
}

/* Description column */
.descriptionContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-left: 1rem;
}

.descriptionContainer i{
  color: black;
}

/* Middle column for details (name, price, category, etc...) */
.productDetailsContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

/* Card image */
.cardImg {
  max-width: 500px;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border: 1px solid orangered;
  box-shadow: 0 0 2rem rgb(3, 22, 169);
  transition: 0.4s;
}
.cardImg:hover {
  box-shadow: 0 0 2rem orangered;
  transition: 0.4s;
}
/* Description label and text */
.descriptionLabel {
  margin-top: auto;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.descriptionText {
  margin-bottom: 0.5rem;
}

.cardTitle, .cardText {
  margin-bottom: 0.25rem;
  text-align: center;
}

/* Rating stars */
.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.productDetailsContainer .cardText {
  text-align: center;
  border-bottom: 1px solid black;
}

/* Large screen */
@media (min-width: 1248px) {
  .card {
    height: auto;
  }
  .cardContent {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: auto;
    margin-bottom: 1rem;
  }
  

  .cardText {
    display: flex;
    flex-direction: column;
    text-align:center;
  }

  .cardText strong {
    margin-bottom: 5px;
  }
}

  .cardImg {
    border-radius: 15px;
  }
/* smaller screens */
@media (max-width: 768px) {
  .cardContent {
    flex-direction: column;
    text-align: center;
  }

  .cardImgContainer, .productDetailsContainer, .descriptionContainer {
    flex: 1 1 100%;
    margin-bottom: 1rem;
  }

  .productDetailsContainer, .descriptionContainer {
    text-align: center;
  }

  .cardImg {
    max-width: 100%;
    height: auto;
  }

  .cardTitle, .cardText {
    text-align: center;
  }
}
