/*card content wrapper */
.card {
  color: black;
  margin: 10px;
  padding:5px;
  box-shadow: 0 0 10px orangered;
  background-color: white;
  height:auto;
}

.cardTitle {
  color: orangered;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
}

.cardTitle:hover {
  color: blue;
  transition: 0.3s;
}
.profileLink {
  color: black;
  border-radius: 50px;
  padding: 2px;
}
.profileLink span {
  margin-left: 4px;
  font-weight: bolder;
}

.cardContent {
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
}


.EditMenu i{
  color: black;
  font-size: 20px;
  margin: 10px;
}

.EditMenu i:hover {
  color: orangered;
  border-radius: 50%;
}
/* image column */
.cardImgContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

/* Description column */
.descriptionContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-left: 1rem;
}

.descriptionContainer i{
  color: black;
}

/* Middle column for details (name, price, category, etc...) */
.productDetailsContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

/* Card image */
.cardImg {
  max-width: 500px;
  height: 250px;
  width: 250px;
  object-fit: contain;
  border-radius: 10px;
  transition: 0.4s;
}
.cardImg:hover {
  box-shadow: 0 0 2rem orangered;
  transition: 0.4s;
}
/* Description label and text */
.descriptionLabel {
  margin-top: auto;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.descriptionText {
  margin-bottom: 0.5rem;
}

.cardTitle, .cardText {
  margin-bottom: 0.2rem;
  text-align: center;
}

/* Rating stars */
.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.productDetailsContainer .cardText {
  text-align: center;
  border-bottom: 1px solid black;
}

/* Large screen */
@media (min-width: 1248px) {
  .card {
    height: auto;
  }
  .cardContent {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:first baseline;
    width: auto;
    margin-bottom: 1rem;
  }
  
  .cardImg {
    max-width: 100%;
    height: 700px;
    width: 700px;
    border-radius: 15px;
    max-height: fit-content;
  }

  .cardText {
    display: flex;
    flex-direction: column;
    text-align:center;
  }

  .cardText strong {
    margin-bottom: 2px;
  }
}

/* smaller screens */
@media (max-width: 768px) {
  .card {
    margin: auto;
    padding: 2px;
    width: auto;
  }
  .cardContent {
    flex-direction: column;
    font-size: 10px;
    padding: 0;
  }

  .cardImgContainer, .productDetailsContainer, .descriptionContainer {
    flex: 1 1 100%;
  }

  .productDetailsContainer, .descriptionContainer {
    text-align: center;
    
  }

  .cardImg {
    max-width: 100%;
    height: 140px;
    width: 140px;
  }

  .cardTitle, .cardText {
    text-align: center;
    font-size: 0.8rem;
  }
}
