.ProfileImage {
    border-radius: 50%;
    box-shadow: 0 0px 8px aqua;
    object-fit: cover;
    margin-left: 10px;
    transition: box-shadow 0.5s;
  }

.ProfileImage:hover {
  box-shadow: 0 0 8px orangered;
  transition: box-shadow 0.5s;
}